* {
    outline: none;
}
body {
    font: 20px Montserrat, sans-serif;
    border: 20px solid lightgray;
    color: gray;
    text-align: center;
    margin: 0;
    font-weight: lighter;
}

#navBar {
    list-style-type: none;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    padding: 100px;
        color: gray;
}

#whoAmI {
    background-color: rgb(73,23,2);
    color: #ffffff;
}

#info {
    padding-top: 20px;
}

#whereAmI {
    background-color: rgb(249,247,217);
    color: gray;
  }

#whatAmI {
    padding-bottom: 50px;
}

#hire-me {
    border-radius: 50%;
}

div {
    padding: 70px 70px;
}

.photos {
    max-width: 80%;
    height: 250px;
    width:  100%;
    opacity: 0.25; 
}

.photos:hover {
    opacity: 1.0;
}

figure {
    width: 18%;
    display:inline-block;
    margin: 0;
    text-align: center;
    padding: 0;
}

#learnMore {
    text-decoration: none;
    color: gray;
}

button {
background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    text-align: right;
}