ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    background-color:black;
    display: inline-block;
    font-family: Courier New, Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px 10px;
}

a:visited {
    color: white;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
    
}

#name {
    font-style: italic;
    font-family: Courier New, Courier, monospace;
    font-size: 16px;
    font-weight: bolder;
    margin: 0px;
}

#hire-me {
    height: auto;
    float: right;
    margin-right: 100px;
    padding-left: 40px;
}

p {
    font-family: Courier New, Courier, monospace;
    font-weight: normal;
    font-style: italic;
    width: 500px;
    margin-top: 6px;
    line-height: 30px;

}

#space-needle {
    padding-top: 50px;
    width: 100%
}

footer {
    text-align: right;
    font-size: 10;
    font-family: Courier New, Courier, monospace;
}